{% extends 'base.html.twig' %}

{% block tasks %}
  <nav class="menu">
    <ul>
      <li>{{ menu_link('set.view', 'Set Overview', { set: set.id }) }}</li>
      <li>{{ menu_link('set.videos', 'View Videos', { set: set.id }) }}</li>
      <li>{{ menu_link('set.videos.find', 'Find Videos', { set: set.id }) }}</li>
      <li>{{ menu_link('set.edit', 'Edit Set', { set: set.id }) }}</li>
    </ul>
  </nav>
{% endblock %}
